.pillar-image-filled-crown {
    filter: brightness(1.15);
}

.pillar-image-filled-community {
    filter: brightness(1.15);
}

.pillar-image-filled-skill {
    filter: brightness(1.15);
}

.pillar-image-filled-health {
    filter: brightness(1.15);
}

.pillar-image-unfilled {
    filter: brightness(0.7);
}

.itemsoff {
    filter: brightness(0);
}

.itemson {
    filter: brightness(1);
}