@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-dark: #272621;
  --primary-mid: #4E4D4A;

  --utility: #BFBFBF;

  --secondary-dark: #C7A21D;
  --secondary-mid: #CBB155;
  --secondary-light: #D3C491;

  --green: #719E62;
  --yellow: #CBB155;
  --red: #903C3C;
  --blue: #4B5A76;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-dark);

}