@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-dark: #272621;
  --primary-light: #4D4A40;

  --utility: #BFBFBF;

  --secondary-dark: #C7A21D;
  --secondary-mid: #CBB155;
  --secondary-light: #D3C491;

  --green: #3d5634;
  --yellow: #9a884a;
  --red: #703030;
  --blue: #384e75;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-dark);
  height: 100%;
  width: 100%;

}

#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

button {
  background-color: var(--primary-dark);
  color: white;
  padding: 15px 2rem;
}

button:hover {
  color: var(--primary-light);
}